/detecting-bias/McKenna_LP_S1.ipynb
/detecting-bias/Complex_NoProc_V3.jpg
/detecting-bias/.ipynb_checkpoints
/detecting-bias/tutorial_credit_scoring.ipynb
/detecting-bias/McKenna_LP_S3.ipynb
/.idea/
/detecting-bias/data/
/detecting-bias/Milestone 1 declarations.ipynb
/detecting-bias/Milestone 4 declarations.ipynb
